* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

footer {
  height: 300px;
  background: url("/img/footer-bg.jpg") no-repeat;
  background-size: cover;
}

footer .box-footer {
  margin: auto 0;
  width: 1200px;
  display: flex;
}

footer .box-footer .nav-left-footer {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-right: 30px;
}

footer .box-footer .nav-left-footer .box-1-footer {
  margin-left: 70px;
  margin-top: 10px;
}

footer .box-footer .nav-left-footer .box-1-footer .title-footer {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 12px;
}

footer .box-footer .nav-left-footer .box-1-footer .ul-footer {
  list-style: none;
}

footer .box-footer .nav-left-footer .box-1-footer .ul-footer .li-footer {
  color: #777;
  font-size: 10px;
  padding: 3px;
}

footer .box-footer .nav-right-footer {
  width: 40%;
  padding-left: 100px;
}

footer .box-footer .nav-right-footer .img-footer {
  width: 300px;
  padding-bottom: 100px;
}

header {
  height: 70px;
  background-color: #333;
}

header .container-header-footer-box {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

header .container-header-footer-box .bottone-header-footer-box {
  width: 40%;
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

header .container-header-footer-box .bottone-header-footer-box .sing-up-header-footer-box {
  margin-top: 15px;
  text-align: center;
  line-height: 40px;
  width: 150px;
  height: 40px;
  border: 2px #2969e0 solid;
  color: #fff;
}

header .container-header-footer-box .nav-header-footer-box {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
}

header .container-header-footer-box .nav-header-footer-box .follow-header-footer-box {
  margin-top: 5px;
  color: #2969e0;
  line-height: 70px;
  margin-right: 20px;
}

header .container-header-footer-box .nav-header-footer-box .img-header-footer-box {
  height: 25px;
  line-height: 70px;
  margin-right: 20px;
}

.container-harder-main {
  background-color: #2969e0;
}

.container-harder-main .box-harder-main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.container-harder-main .box-harder-main .box-logo-harder-main {
  height: 150px;
}

.container-harder-main .box-harder-main .box-logo-harder-main .img-box-harder-main {
  height: 50px;
  margin-top: 45px;
  display: flex;
  padding: 7px;
}

.container-harder-main .box-harder-main .box-logo-harder-main .img-box-harder-main .img-harder-main {
  height: 50px;
  margin-left: 15px;
  padding: 10px;
}

.container-harder-main .box-harder-main .box-logo-harder-main .img-box-harder-main .span-harder-main {
  font-size: 12px;
  color: #fff;
  line-height: 50px;
  margin-right: 20px;
}

.container-immagini-box {
  height: 650px;
  background-color: #333;
}

.container-immagini-box .box-immagini-box {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-immagini-box .box-immagini-box .button-immagini-box {
  position: absolute;
  top: -25px;
  left: 5px;
  width: 170px;
  height: 40px;
  color: #fff;
  background-color: #2969e0;
  text-align: center;
  line-height: 40px;
}

.container-immagini-box .box-immagini-box .button-two-immagini-box {
  position: absolute;
  bottom: 1px;
  width: 170px;
  height: 40px;
  color: #fff;
  background-color: #2969e0;
  text-align: center;
  line-height: 40px;
}

.container-immagini-box .box-immagini-box .box-immagini-immagini-box {
  margin: 5px;
}

.container-immagini-box .box-immagini-box .box-immagini-immagini-box .immagine-immagini-box {
  width: 150px;
  height: 150px;
}

.container-immagini-box .box-immagini-box .box-immagini-immagini-box .text-immagini-box {
  color: #fff;
  font-size: 11px;
  width: 150px;
  height: 30px;
  margin-top: 5px;
}

.jumbotron {
  height: 300px;
  background: url("/img/jumbotron.jpg") no-repeat;
  background-size: cover;
}

.container-header-box {
  height: 70px;
  background-color: white;
}

.container-header-box .container-header-box-two {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container-header-box .container-header-box-two .logo-header-box {
  width: 40%;
  display: flex;
  justify-content: center;
  padding-right: 150px;
}

.container-header-box .container-header-box-two .logo-header-box .img-header-box {
  margin-top: 10px;
  height: 50px;
}

.container-header-box .container-header-box-two .nav-header-box {
  width: 60%;
  padding-right: 200px;
}

.container-header-box .container-header-box-two .nav-header-box .ul-header-box {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  line-height: 50px;
}

.container-header-box .container-header-box-two .nav-header-box .ul-header-box .li-header-box {
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
}

.container-header-box .container-header-box-two .nav-header-box .ul-header-box .li-header-box:hover {
  color: #2969e0;
  padding-bottom: 7px;
  border-bottom: 2px #2969e0 solid;
}

.container-header-box .container-header-box-two .nav-header-box .ul-header-box .li-header-box .a-header-box {
  text-decoration: none;
  color: #333;
}

